In [1]:
import pandas as pd

In [3]:
#read from google drive
data = pd.read_csv("test_basic.csv")
data.head()

   user_id  conversion  test
0   860955           0     0
1   911569           0     1
2   673989           0     0
3   562761           0     0
4    64288           0     0

In [5]:
data.test.value_counts(normalize=True)

1    0.525848
0    0.474152
Name: test, dtype: float64

In [8]:
from scipy import stats
#check conversion rate for both groups
data.groupby('test')['conversion'].mean()

test
0    0.043707
1    0.055598
Name: conversion, dtype: float64

In [12]:
#perform a statistical test between the two groups
test = stats.ttest_ind(data.loc[data['test'] == 1]['conversion'], data.loc[data['test'] == 0]['conversion'], equal_var=False)

In [13]:
#t statistics
test.statistic

7.705449851546837

In [14]:
test.pvalue

1.3189559402908635e-14

In [15]:
#print test results
if (test.pvalue>0.05):
  print ("Non-significant results")
elif (test.statistic>0):
  print ("Statistically better results")
else:
  print ("Statistically worse results")

Statistically better results